# Doodling

In [6]:
# Imports for Warnings cancellation
import warnings
warnings.filterwarnings('ignore')

# Standard imports for data and Excel
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

In [4]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [9]:
date = '2022-12-17'

In [10]:
date_obj = datetime.strptime(date, '%Y-%m-%d')
print(date_obj)
print(type(date_obj))

2022-12-17 00:00:00
<class 'datetime.datetime'>

In [11]:
date_obj2 = date_obj.strftime('%m/%d/%Y')
print(date_obj2)
print(type(date_obj2))

12/17/2022
<class 'str'>

In [13]:
date_obj2 = datetime.strptime(date_obj2, '%m/%d/%Y')
print(date_obj2)
print(type(date_obj2))

2022-12-17 00:00:00
<class 'datetime.datetime'>